# Maven
target/
*.jar
*.class

# Build tools que no usás en el repo real
.gradle/

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.iml

# Bases de datos locales (sqlite u otras de prueba)
db/*.db

# Variables de entorno / secretos
.env
*.env

# Sistema operativo
.DS_Store
Thumbs.db

# Properties
*.properties